ENV=local

FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8000

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/genzen
REDIS_URL=redis://localhost:6379/0

# Local/dev: allow anonymous socket + token minting
ALLOW_GUESTS=1

# NextAuth (one of the strategies)
NEXTAUTH_SECRET=replace_me
# NEXTAUTH_JWKS_URL=https://<issuer>/.well-known/jwks.json
# NEXTAUTH_ISSUER=https://<issuer>/
# NEXTAUTH_AUDIENCE=<audience>

# LiveKit
LIVEKIT_URL=wss://genzen-breakout-osi18s8c.livekit.cloud
LIVEKIT_API_KEY=APInhsWwFBJ5hg5
LIVEKIT_API_SECRET=AsTbf4059TrQlTLcLsHQGq9vbseAoXgylTrFCcCF757
